
.icon-football:before { content: '\e800'; } /* '' */
.icon-tennis:before { content: '\e801'; } /* '' */
.icon-basketball:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-down:before { content: '\e804'; } /* '' */