@import '../../variables.scss';

.checkbox {
    display: block;
    width: 100%;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 20px 10px 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        .checkbox__input ~ .checkbox__checkmark {
            background-color: #cccccc;
        }
    }

    .checkbox__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkbox__checkmark {
            background-color: $primary-color;
            border-color: $primary-color;
            &:after {
                display: block;
            }
        }
    }

    .checkbox__checkmark {
        position: absolute;
        top: 50%;
        left: 8px;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border: 2px solid #787878;
        border-radius: 3px;
        transform: translateY(-50%);
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 2px;
            width: 4px;
            height: 7px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

}